.LabelContainer{
	position: fixed;
	top: 0px;
	right: 0px;
	padding-top: 57px;

	width: 226px;
	height: 100%;
	
	background: #FFFFFF;
	border: 1px solid #EDEDEB;
	z-index: 0;
}

.LabelHeader{
	font-family: Helvetica;
	font-size: 13px;
	color: #484856;
	text-align: left;
	padding: 21px;
}

.LabelAddLabel{
	margin-top: 20px;
	background: #007AFF;
	border: 1px solid #066EE0;
	border-radius: 4px;
	font-family: Helvetica;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 18px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.LabelAddLabel:hover{
	background: #066EE0;
}