
$imgSize:90;
$imgMargin:17;

:export { 
  imgSize: $imgSize;
  imgMargin: $imgMargin;
}

.ImageContainer {
  width: $imgSize + px;
  height: $imgSize + px;
  margin: $imgMargin + px;
  display: inline-block;
  line-height: $imgSize + px;
  text-align: center;
  color: #FFF;
  box-shadow: 0 0 10px 0 rgba(#000, 0.1);
}

.ImageContainer > div {
  width: 5px;
  height: 5px;
  margin: 5px;
  margin-top: 42px;

  box-shadow: 0 0 5px 0 rgba(#000, 0.3);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.ImageContainer .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ImageContainer .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}