.Label{
  width: 180px;
  height: 51px;
  padding-top: 1px;
  padding-left: 23px;
  padding-right: 23px;
}

.LabelSpacer{
  position: relative;
  width: 100%;
  height: 100%;
}

.Label:hover{
  padding-top: 0px;
  height: 50px;
  background: #F6F6F6;
  border-top: 1px solid #EDEDEB;
  border-bottom: 1px solid #EDEDEB;
}

.LabelNameAmount{
  width: 133px;
  padding-top: 12px;
  height: 20px;
}

.LabelSelected{
  padding-top: 0px;
  height: 50px;
  background: #F6F6F6;
  border-top: 1px solid #EDEDEB;
  border-bottom: 1px solid #EDEDEB;
}

.LabelName{
  font-family: Helvetica;
  font-size: 10px;
  color: #363643;
  letter-spacing: 0.37px;
  display: inline-block;
  width: 90px;
  float: left;

  text-align: left;

  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.LabelAnnotatedAmount{
  font-family: Helvetica;
  font-size: 7px;
  color: #ACABAE;
  letter-spacing: 0.22px;
  display: inline-block;
  float: right;
}

.LabelApplyButton{
  font-family: Helvetica;
  font-size: 12px;
  color: #007AFF;
  line-height: 16px;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: 18px;
  text-align: right;
}

.LabelApplyButton:hover{
  opacity: 0.5;
}