

$singleImgSize: 90;

:export { 
  singleImgSize: $singleImgSize;
}

.SingleImageSimilarityImage{
	position: relative;
	width: $singleImgSize + px;
	height: $singleImgSize + px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	z-index:99;
}

.SingleImageIndex{
	position: absolute;
}

.Selected{
	opacity: 0.5;
	box-shadow:0px 0px 0px 5px #007AFF inset;
}