# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# excludes: regex
#
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: flake8
    args: [ "--config=tox.ini"]
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
  - id: black
