$easing_time: 0.2s;

.TCEvaluationTopBar{
  position: fixed;
  text-align: left;
  background: #363643;
  box-shadow: 0 -6px 9px 5px rgba(0,0,0,0.50);
  width: 100%;
  padding: 11px 0px 11px 0px;

  min-height: 0px;

  z-index: 999;

  -webkit-transition: min-height $easing_time ease-in-out $easing_time;
  -ms-transition: min-height $easing_time ease-in-out $easing_time;
  transition: min-height $easing_time ease-in-out $easing_time;
}

.TCEvaluationTopBarExtened{
  -webkit-transition: min-height $easing_time ease-in-out;
  -ms-transition: min-height $easing_time ease-in-out;
  transition: min-height $easing_time ease-in-out;

  min-height: 137px;
}

.TCEvaluationTopBarAccuracy{
  display: inline-block;
  padding: 9px 11px 0px 11px;
}

.TCEvaluationTopBarMetrics{
  padding: 0px 11px 0px 11px;
  display: inline-block;
  float: right;
}

.TCEvaluationTopBarMetricsAccordian{
  display: inline-block;
  float: right;
}

.TCEvaluationTopBarMetricsTextContainer{
  width: 100px;
  font-family: Helvetica;
  font-size: 10px;
  color: #EFF0F1;
  text-align: right;
  display: inline-block;
  float: right;
  opacity:1.0;
  -webkit-transition: opacity $easing_time ease-in-out $easing_time;
  -ms-transition: opacity $easing_time ease-in-out $easing_time;
  transition: opacity $easing_time ease-in-out $easing_time;
}


.TCEvaluationTopBarMetricsTextContainerExtended{
  -webkit-transition: opacity $easing_time ease-in-out;
  -ms-transition: opacity $easing_time ease-in-out;
  transition: opacity $easing_time ease-in-out;

  opacity: 0;
}


.TCEvaluationTopBarAccuracyValue{
  font-family: Helvetica;
  font-size: 24px;
  color: #EFF0F1;
}


.TCEvaluationTopBarAccuracyLabel{
  font-family: Helvetica;
  font-size: 12px;
  color: #797B83;
  padding: 0 0 0 5px;

}

.TCEvaluationTopBarMetricsAccordianIcon{
  padding: 0px 11px 0px 16px;
}

.TCEvaluationTopBarMetricsAccordianDropDown{
  -webkit-transition: -webkit-transform $easing_time ease-in-out $easing_time;
  -ms-transition: -ms-transform $easing_time ease-in-out $easing_time;
  transition: transform $easing_time ease-in-out $easing_time;
}

.TCEvaluationTopBarMetricsAccordianDropDownRotate{
  -webkit-transition: -webkit-transform $easing_time ease-in-out;
  -ms-transition: -ms-transform $easing_time ease-in-out;
  transition: transform $easing_time ease-in-out;

  transform: rotate(-180deg);
}

.TCEvaluationTopBarAccuracyAccordianTextHolder{
  height: 0;
  padding-top: 0px;

  -webkit-transition: padding-top $easing_time ease-in-out $easing_time;
  -ms-transition: padding-top $easing_time ease-in-out $easing_time;
  transition: padding-top $easing_time ease-in-out $easing_time;
}

.TCEvaluationTopBarAccuracyAccordianTextHolderDisplayed{
  -webkit-transition: padding-top $easing_time ease-in-out;
  -ms-transition: padding-top $easing_time ease-in-out;
  transition: padding-top $easing_time ease-in-out;

  padding-top: 20px;
}

.TCEvaluationTopBarAccuracyAccordianText{
  font-family: Helvetica;
  padding: 0px 16px 5px 16px;
  font-size: 10px;
  color: #797B83;
  opacity: 0;

  -webkit-transition: opacity $easing_time ease-in-out;
  -ms-transition: opacity $easing_time ease-in-out;
  transition: opacity $easing_time ease-in-out;
}

.TCEvaluationTopBarAccuracyAccordianTextDisplayed{
  -webkit-transition: opacity $easing_time ease-in-out $easing_time;
  -ms-transition: opacity $easing_time ease-in-out $easing_time;
  transition: opacity $easing_time ease-in-out $easing_time;

  opacity: 1.0;
}

.TCEvaluationTopBarAccuracyAccordianMetricContainer{
  height: 0;
  padding-top: 0px;
  opacity: 0.0;
  float: right;
  padding-right: 16px;
  -webkit-transition: opacity $easing_time ease-in-out;
  -ms-transition: opacity $easing_time ease-in-out;
  transition: opacity $easing_time ease-in-out;
}

.TCEvaluationTopBarAccuracyAccordianMetricContainerDisplayed{
  -webkit-transition: opacity $easing_time ease-in-out $easing_time;
  -ms-transition: opacity $easing_time ease-in-out $easing_time;
  transition: opacity $easing_time ease-in-out $easing_time;
  opacity: 1.0;
}

.TCEvaluationTopBarAccuracyAccordianMetric{
  display:block;
  height: 18px;
  width: 172px;
}

.TCEvaluationTopBarAccuracyAccordianMetricKey{
  font-family: Helvetica;
  font-size: 10px;
  color: #797B83;
  text-align: left;
  display: inline-block;
  float: left;
}

.TCEvaluationTopBarAccuracyAccordianMetricValues{
  font-family: Helvetica;
  font-size: 10px;
  color: #EFF0F1;
  text-align: right;
  display: inline-block;
  float: right;
}

.TCEvaluationTopBackButton{
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Helvetica;
  font-size: 9px;
  color: #EFF0F1;
  float: left;
  padding-top: 21px;
  padding-left:15px;
  cursor: pointer;
  z-index: 9999;
}

.TCEvaluationTopLabelName{
  display: inline-block;
  font-family: Helvetica-Light;
  font-size: 24px;
  color: #EFF0F1;
  text-align: right;
  float: right;
  padding: 8px;
  padding-right:15px;
}
