.TCEvaluationRows{
	height: 42px;
	width: 100%;
	cursor: pointer;
}

.TCEvaluationRows:hover{
	background: #DEE3E7;
}

.TCEvaluationRowContainer{
	display: flex;
	justify-content: center;
	margin: 0px 30px 0px 30px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #D4D7D9;
}
