.TCEvaluationIncorrectlyClassifiedContainer{
	min-height: 45px;
}

.TCEvaluationIncorrectlyClassifiedContainerTitle{
	font-family: Helvetica;
	font-size: 12px;
	color: #9B9B9B;
	float: left;
	padding:10px;
	cursor: pointer;
}

.TCEvaluationIncorrectlyClassifiedContainerImages{
	display: flex;
	flex-direction: row;
	overflow: auto;
	overflow-x: scroll;
	width: 100%;
	padding-bottom: 10px;
}

.TCEvaluationIncorrectlyClassifiedContainerFlex{
	display: flex;
	padding-left: 30px;
	min-height: min-content;
}

.TCEvaluationIncorrectlyClassifiedContainerDropDown{
	margin-left: 5px;
	transform: rotate(180deg);
}

.TCEvaluationIncorrectlyClassifiedContainerDropUp{
	margin-left: 5px;
}

.TCEvaluationIncorrectlyClassifiedContainerNumber{
	color: #363643;
}