.sticky-table {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.sticky-table .sticky-table-corner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.sticky-table .sticky-table-header {
  position: absolute;
  z-index: 2;
}
.sticky-table .sticky-table-column,
.sticky-table .sticky-table-header,
.sticky-table .sticky-table-corner {
  background-color: #fff;
  display: block;
}
.sticky-table .sticky-table-column {
  position: absolute;
  z-index: 1;
}
.sticky-table .sticky-table-x-wrapper,
.sticky-table .sticky-table-y-wrapper {
  z-index: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sticky-table .sticky-table-x-wrapper {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
}
.sticky-table .sticky-table-y-wrapper {
  height: 100%;
  overflow-y: auto;
  margin-right: -17px;
  padding-right: 17px;
}
/*
Hack to make table paint on it's own layer.
Because of this it won't paint when the scrollbar paints.
This one was crucial for performance.
Scrolling is probably 10-20x smoother.
*/
.sticky-table .sticky-table-x-wrapper .sticky-table-container {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Scrollbars */
.sticky-table-y-wrapper::-webkit-scrollbar,
.sticky-table-x-wrapper::-webkit-scrollbar {
  display: none;
}
.sticky-table #x-scrollbar,
.sticky-table #y-scrollbar {
  position: absolute;
  background-color: transparent;
  z-index: 5;
  overflow: auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.sticky-table #x-scrollbar {
  left: 0px;
  bottom: 0px;
  height: 20px;
}
.sticky-table #y-scrollbar {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20px;
}
.sticky-table #x-scrollbar div {
  height: 100%;
}
.sticky-table #y-scrollbar div {
  width: 100%;
}

.json-pretty{
  line-height: 1.3;
  color: #BFBFBF;
}

.json-key{
  color: #108EE9;
}

.json-value{
  color: #F5A623;
}

.json-string{
  color: #00A854;
}

.json-boolean{
  color: #F5A623;
}
