@import "../utils.scss";

.SingleImage {
  @include calculateSize;
  position: relative;
  display: flex;
}

.SingleImageContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.SingleImageSimilar{
  overflow-y: scroll;
}

.SigleImageSimilarityImage{
	background: red;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.RightArrow, .LeftArrow{
  @include arrows;
}

.RightArrow:hover, .LeftArrow:hover{
  @include arrowHover;
}