.TCEvaluationHelperSort{
  font-family: Helvetica;
  font-size: 9px;
  color: #979797;
  padding: 3px;
}

.TCEvaluationHelperSort>span{
  padding-left: 7px; 
}

.TCEvaluationHelperSort>select{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  color: inherit;
  font:inherit;
  border: 0;
  outline: none;
  cursor: pointer;
}