.TCEvaluationConfusionMenu{
	display: flex;
	width: 313px;
	height: 100vh;
	padding: 12px;
	padding-bottom: 0px;
	top: 0px;
	left: 0px;
	background: #56566A;
	overflow: auto;
	overflow-y: scroll;
}

.TCEvaluationConfusionMenuContainer{
	display: flex;
	overflow: scroll;
	min-height: min-content;
    flex-direction: column;
}

.TCEvaluationConfusionMenuItemSelected{
	background: #797B83;
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 12px;
	cursor: pointer;
	border-radius: 4px;
	text-align: left;
}

.TCEvaluationConfusionMenuItem{
	background: #363643;
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 12px;
	cursor: pointer;
	border-radius: 4px;
	text-align: left;
}

.TCEvaluationConfusionMenuItemBaseClass{
	display: inline-block;
	float: left;
	font-family: Helvetica;
	font-size: 12px;
	color: #EFF0F1;
	text-align: center;
	padding-left: 15px;
}

.TCEvaluationConfusionMenuItemNumItems{
	display: inline-block;
	height: 100%;
	float: right;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Helvetica;
	font-size: 7px;
	text-align: center;
}
.TCEvaluationConfusionMenuItemNumItemWrapper{
	background: red;
	width: 22px;
	height: 13px;
	line-height: 13px;
	margin-top: 12px;
	border-radius: 13px;
	background: #56566A;
	color: #EFF0F1;
}

.TCEvaluationConfusionMenuItemConfused{
	display: inline-block;
	float: left;
	font-family: Helvetica;
	font-size: 12px;
	color: #EFF0F1;
	text-align: center;
}

.TCEvaluationConfusionMenuItemArrow{
	display: inline-block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}