.imageNumber{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.21);
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 12px;
    color: rgba(0,0,0,0.25);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 27px;
    padding-left: 7px;
    width:102px;
    float: right;
    margin-top: -8px;
    margin-right: 10px;
}

.jumpToImageContainer{
    position: relative;

}


.BottomBar{
    height: 16px;
    text-align:left;
    padding: 16px;
    font-family: Helvetica;
    font-size: 14px;
    color: #484856;
    line-height: 20px;
    display: flex;
    justify-content: space-between;


}

