.TCEvaluationScoresConsiderationsElement{
	display: flex;
	padding-bottom: 15px;
}

.TCEvaluationScoresConsiderationsElementText{
	text-align: left;
	padding-left: 15px;
	padding-right: 5px;
}

.TCEvaluationScoresConsiderationsIcon{
	flex-basis: 16px;
	padding: 0px;
}