.TCEvaluationNavigationBar{
	padding: 15px;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.TCEvaluationNavigationBarSearch > input{
	padding: 8px;
	background: #FFFFFF;
	border: 1px solid #EFF0F1;
	border-radius: 3px;
	font-family: Helvetica;
	font-size: 12px;
	color: #A4A9AD;
	width: 230px;
}