.TCEvaluationSummaryStat{
	display: flex;
	justify-content: space-between;
}

.TCEvaluationSummaryStatDescription{
	font-family: Helvetica;
	font-size: 9px;
	color: #979797;
}

.TCEvaluationSummaryStatValue{
	font-family: Helvetica;
	font-size: 9px;
	color: #FFFFFF;
}