.TCEvaluationImageComponent{
	overflow: hidden;
	width: 78px;
	height: 78px;
	margin-right: 10px;
	position: relative;
}

.TCEvaluationImageComponentExport{
	z-index: 90;
	position: absolute;
	right: 2px;
	top: -3px;
	opacity: 0.5;
	cursor: pointer;
}

.TCEvaluationImageComponentExport:hover{
	opacity: 1.0;
}