.TCEvaluationScores{
  display: flex;
  flex-direction: column;
}

.TCEvaluationScoresNavigation{
  width: 286px;
  display: flex;
  justify-content: space-between;
}

.TCEvaluationScoresChart{
  width: 286px;
}