.TCEvaluationConfusionHeader{
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom-style: solid;
  	border-bottom-width: thin;
  	border-bottom-color: #D4D7D9;
  	padding-bottom: 17px;
  	background: white;
  	z-index: 998;
}

.TCEvaluationConfusionHeaderTitle{
	text-align: center;
	flex:1;
}

.TCEvaluationConfusionHeaderImageTitle{
	text-align: center;
	flex:2;
}

.TCEvaluationConfusionHeaderText{
	flex:0.7;
}