.TCEvaluationTitle {
	font-family: Helvetica;
	font-size: 18px;
	color: #979797;
}

.TCEvaluationLabelStatsTitle {
	text-align: left;
	font-family: Helvetica;
	font-size: 18px;
	color: #979797;
}

.TCEvaluationLabelStatsGraphs {
	display: flex;
	width: 491px;
	justify-content:space-between;
}

.TCEvaluationLabelStatsPieChart {
	padding-top: 13px;
	padding-left: 26px;
}

.TCEvaluationLabelStatsPieChartLegendContianer{
	padding-top: 10px;
}

.TCEvaluationLabelStatsPieChartLegend{
	display: flex;
	padding-bottom: 5px;
}

.TCEvaluationLabelStatsPieChartLegendCorrect {
	background: #7ED321;
	border-radius: 2px;
	width: 10px;
	height: 10px;
}

.TCEvaluationLabelStatsPieChartLegendIncorrect {
	background: #D0021B;
	border-radius: 2px;
	width: 10px;
	height: 10px;
}

.TCEvaluationLabelStatsPieChartLegendText{
	font-family: Helvetica;
	font-size: 9px;
	color: #979797;
	padding-left: 10px;
}

