-r requirements-minimal.txt

### extra for full pkg ###

coremltools==3.3
scipy==1.2.1
resampy==0.2.1
llvmlite==0.31.0
scikit-learn==0.20.3
statsmodels==0.9.0
tensorflow==2.0.0
UISoup==2.5.7
pyobjc==5.2; sys_platform == 'darwin'
llvmlite==0.31.0

########## >=  #########

pre-commit>=1.21.0
