-r requirements-minimal.txt

### extra for full pkg ###

coremltools==5.0b2

scipy==1.2.1; python_version < '3.8'
scipy==1.5.1; python_version == '3.8'
scipy==1.7.1; python_version == '3.9'

resampy==0.2.1

scikit-learn==0.20.3; python_version < '3.8'
scikit-learn==0.23.1; python_version == '3.8'
scikit-learn==0.24.2; python_version == '3.9'

statsmodels==0.9.0; python_version < '3.8'
statsmodels==0.11.1; python_version == '3.8'
statsmodels==0.12.2; python_version == '3.9'

tensorflow==2.0.2; sys_platform == 'darwin' and python_version != '2.7' and python_version != '3.8' and python_version != '3.9'

UISoup==2.5.7

llvmlite==0.31.0; python_version < '3.6'
llvmlite==0.33.0; python_version >= '3.6' and python_version < '3.9'
llvmlite==0.36.0; python_version == '3.9'

########## >=  #########

pre-commit>=1.21.0
