.TCEvaluationSettingsSelection{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
	background: white;
	width:122px;
	height: 113px; 
	padding:13px;
	background: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
	border-radius: 6px;
}

.TCEvaluationSettingsSelectionTitle{
	font-family: Helvetica;
	font-size: 16px;
	color: #484856;
	line-height: 24px;
	text-align: right;
}

.TCEvaluationSettingsSelectionCont{
	padding-top: 10px
}

.TCEvaluationSettingsSelectionContText{
	font-family: Helvetica;
	font-size: 13px;
	color: #484856;
	line-height: 18px;
	padding-left: 7px;
}